:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: gray; */
    
}

.theme-toggle-btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    /* background-color: var(--text-color); */
    color: var(--background-color);
    border-radius: 5px;
    font-size: 1rem;
}
